.header {
    height: 80px;
    background-color: #182833;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

nav.header a {
    text-decoration: none;
    color: rgb(214, 217, 218);
    margin-right: 30px;
}

nav.header a:hover {
    color: orange;
}